<div id="reset" class="d-flex justify-content-center align-items-center">
  
  
  <form [formGroup]="resetForm">
    <div class="logo_container">
      <img 
      id="logo"
      src="../../../../assets/img/logo.png" 
      alt="accion">
    </div>
      <div class="d-flex flex-column">
       
        <mat-form-field>
          <mat-label>Enter Old password</mat-label>
          <input
           matInput [type]="hide ? 'password' : 'text' " formControlName="password" required>
          <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter New password</mat-label>
          <input
           matInput [type]="hide ? 'password' : 'text' " formControlName="password" required>
          <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm new password</mat-label>
          <input
           matInput [type]="cHide ? 'password' : 'text' " formControlName="cpassword" required>
          <button mat-icon-button matSuffix (mouseup)="cHide = !cHide" (mousedown)="cHide = !cHide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="cHide">
            <mat-icon>{{cHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    <div  class="d-flex justify-content-center">
      <button 
       value="Submit" 
       (click)="resetPassword()"
        class="btn text-white px-4 py-1 btn-sm my-4 accion_sand" 
       >Reset Password
      </button>
    </div>

  </form>
</div>