<div *ngIf="loading" class="loader_container">
  <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div>

<section>
  <div class="header mt-3 bg-white">
    <mat-tab-group 
    (selectedTabChange)="tabClick($event)"
    mat-align-tabs="center">
      <mat-tab label="Pending Loans"></mat-tab>
      <mat-tab label="Disbursed Loans"></mat-tab>
      <mat-tab label="Due Loans"></mat-tab>
      <mat-tab label="Rejected Loans"></mat-tab>
      <mat-tab label="Repaid Loans"></mat-tab>
      <mat-tab label="Drop-off Loans"></mat-tab>
    </mat-tab-group>
  </div>

  <div class="header mt-3 bg-white">
    <p class="p-3 px-4 lead">{{headingText}}</p>
  </div>

  <form [formGroup]="loanFilterForm" class="filter mx-3">
    <mat-card class="m-3 p-0 pt-3 px-3 pb-2">
      <h5 class="font-weight-bold">Filter/Sort by</h5>
      <div class="d-flex flex-wrap">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input 
          formControlName="startDate" 
          matInput [max]="maxDate" 
          [matDatepicker]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End date</mat-label>
          <input formControlName="endDate" matInput [max]="maxDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Channel</mat-label>
          <mat-select formControlName="channel">
            <mat-option *ngFor="let item of channelSelection" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Action By</mat-label>
          <mat-select formControlName="actionBy">
            <mat-option *ngFor="let item of actionSelection" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Process</mat-label>
          <mat-select formControlName="process">
            <mat-option *ngFor="let item of processSelection" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input [value]="this.loanFilterForm.value.mobileNumber" matInput type="tel" formControlName="mobileNumber">
          <button mat-button *ngIf="this.loanFilterForm.value.mobileNumber" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.loanFilterForm.value.mobileNumber=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Minimum Amount</mat-label>
          <input [value]="this.loanFilterForm.value.minAmount" matInput type="number" formControlName="minAmount">
          <button mat-button *ngIf="this.loanFilterForm.value.minAmount" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.loanFilterForm.value.minAmount=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Maximum Amount</mat-label>
          <input [value]="this.loanFilterForm.value.maxAmount" matInput type="number" formControlName="maxAmount">
          <button mat-button *ngIf="this.loanFilterForm.value.maxAmount" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.loanFilterForm.value.maxAmount=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Customer Name</mat-label>
          <input [value]="this.loanFilterForm.value.customerName" matInput type="text" formControlName="customerName">
          <button mat-button *ngIf="this.loanFilterForm.value.customerName" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.loanFilterForm.value.customerName=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Loan ID</mat-label>
          <input [value]="this.loanFilterForm.value.loanID" matInput type="tel" formControlName="loanID">
          <button mat-button *ngIf="this.loanFilterForm.value.loanID" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.loanFilterForm.value.loanID=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <button (click)="search()" class="btn btn-sm btn-primary filter_btn">Filter</button>
      </div>


    </mat-card>

  </form>
  <div class="action mx-3">
    <mat-card class="px-3 py-3 mx-3">
      <h5 class="font-weight-bold">Action</h5>
      <div class="d-flex flex-wrap">
        <button (click)="exportTable('pdf')" type="button" class="btn btn-sm text-white accion_stone my-1">Export
          PDF
        </button>
        <button (click)="exportTable('xlsx')" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">Export
          Excel
        </button>
        <button (click)="exportTable('csv')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Export
          CSV
        </button>
        <button (click)="exportTable('png')" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">
          PNG
        </button>
        <!-- <button type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Print</button> -->

      </div>
    </mat-card>


  </div>

  

  <div class="table_display mx-3">

    <div class=" mat-elevation-z8">
      <div id="loan_table" class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> S/N </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th disableClear mat-header-cell *matHeaderCellDef> Customer Name </th>
            <td mat-cell *matCellDef="let element"> {{element.userRequest ? element.userRequest.name : ''}} </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef> Channel </th>
            <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.applicationStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action By </th>
            <td mat-cell *matCellDef="let element"> {{element.actionBy}} </td>
          </ng-container>

          <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef> Reason </th>
            <td mat-cell *matCellDef="let element"> {{element.rejectionReason === "" || element.rejectionReason ? element.rejectionReason : element.reason}} </td>
          </ng-container>

          <ng-container matColumnDef="amountRequested">
            <th mat-header-cell *matHeaderCellDef> Requested Amount </th>
            <td mat-cell *matCellDef="let element"> {{ element.userRequest && element.userRequest.amount ? (element.userRequest.amount | number) : ''}} </td>
          </ng-container>

          <ng-container matColumnDef="amountRecommended">
            <th mat-header-cell *matHeaderCellDef> Recommended Amount </th>
            <td mat-cell *matCellDef="let element"> {{ element.recommended ? (element.recommended.recommendedAmount | number ): '' | number}} </td>
          </ng-container>

          <ng-container matColumnDef="termRequested">
            <th mat-header-cell *matHeaderCellDef> Requested Tenure </th>
            <td mat-cell *matCellDef="let element"> {{element.userRequest && element.userRequest.tenure ? element.userRequest.tenure : ""}} </td>
          </ng-container>

          <ng-container matColumnDef="termRecommended">
            <th mat-header-cell *matHeaderCellDef> Recommended Tenure </th>
            <td mat-cell *matCellDef="let element"> {{element.recommended ? element.recommended.recommendedTerm : ""}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Application Date </th>
            <td mat-cell *matCellDef="let element"> {{utilService.formatDateString(element.createdAt)}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor_pointer" (click)="openDialog(row)"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
             No data</td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <mat-paginator 
        [pageSizeOptions]="[10, 25, 50, maxall]" 
        [length] = "maxall"
        (page)="onPageFired($event)"
        showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</section>

