<div *ngIf="isLoadingResults" class="loader_container">
  <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div>

<section>
  <div class="header mt-3 bg-white">
    <p class="p-3 px-4 lead">Doctors</p>
</div>
  <div class="action mx-3">
    <mat-card class="px-3 py-3 mx-3">
      <h5 class="font-weight-bold">Action</h5>
      <div class="d-flex flex-wrap">
        <button (click)="exportTable('pdf')" type="button" class="btn btn-sm text-white accion_stone my-1">Export
          PDF</button>
        <button (click)="exportTable('xlsx')" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">Export
          Excel</button>
        <button (click)="exportTable('csv')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Export
          CSV</button>
        <button (click)="exportTable('png')" type="button"
          class="btn btn-sm mx-2 text-white accion_sand my-1">PNG</button>
        <!-- <button type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Print</button> -->

      </div>
    </mat-card>


  </div>

  <div class="table_display mx-3">
    <div class=" mat-elevation-z8">
      <div id="transaction_table" class="table-container" [ngStyle]="{'max-height.px': tableContainerHeight}">
        <h4 class="pt-3 px-2">Doctors</h4>
        <table 
        mat-table
       [dataSource]="dataSource"
       multiTemplateDataRows
       class="mat-elevation-z8">

       <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> S/N </th>
        <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="title" sticky>
        <th disableClear mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName" sticky>
        <th disableClear mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="mobileNumber">
        <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
        <td mat-cell *matCellDef="let element"> {{element.mobileNumber  }} &nbsp; &nbsp; </td>
      </ng-container>

      <ng-container matColumnDef="isConfirmed">
        <th mat-header-cell *matHeaderCellDef> Confirmed </th>
        <td mat-cell *matCellDef="let element"> {{element.isConfirmed}} </td>
      </ng-container>

      <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef> Qualification </th>
        <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
      </ng-container>

      <ng-container matColumnDef="registrationNumber">
        <th mat-header-cell *matHeaderCellDef> Registration Number </th>
        <td mat-cell *matCellDef="let element"> {{element.registrationNumber}} </td>
      </ng-container>


      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location.lga + " " + element.location.state + ' ' + element.location.country }} </td>
      </ng-container>


      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="yearsOfExperience">
        <th mat-header-cell *matHeaderCellDef> yearsOfExperience </th>
        <td mat-cell *matCellDef="let element"> {{element.yearsOfExperience }} </td>
      </ng-container>

      <ng-container matColumnDef="availability">
        <th mat-header-cell *matHeaderCellDef> Availability </th>
        <td mat-cell *matCellDef="let element"> {{element.availability }} </td>
      </ng-container>

      <ng-container matColumnDef="chargePerSession">
        <th mat-header-cell *matHeaderCellDef> Charge Per Session </th>
        <td mat-cell *matCellDef="let element">
          {{ element.chargePerSession }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Rating </th>
        <td mat-cell *matCellDef="let element">
          {{ element.rating }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ratingCount">
        <th mat-header-cell *matHeaderCellDef> Rating Count </th>
        <td mat-cell *matCellDef="let element">
          {{element.ratingCount}}       
        </td>
      </ng-container>

      <ng-container matColumnDef="stage">
        <th mat-header-cell *matHeaderCellDef> Stage </th>
        <td mat-cell *matCellDef="let element">
          {{element.consultationTime ? 'Stage 3' : element.photo ? 'Stage 2' : 'Stage 1'}}       
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let element">
          {{element.createdAt | date }}       
        </td>
      </ng-container>



  <!-- <ng-container matColumnDef="expandedDetail">
    <td style="display: none;" mat-cell *matCellDef="let element; let i = index;" [attr.colspan]="columnsToDisplay.length">
      <div class="transaction-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <div class="row px-4 mt-3 flex-wrap w-100">
            <div class="col-6 col-md-2 mx-2 d-flex">
              <p class="font-weight-bold">Message: &nbsp;</p>
              <p class="text_accion_stone">{{element.message}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2 d-flex">
              <p class="font-weight-bold">Service ID:&nbsp;</p>
              <p class="text_accion_stone">{{element.requestData.serviceID}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2 d-flex">
              <p class="font-weight-bold">Beneficiary:&nbsp;</p>
              <p class="text_accion_stone">{{element.beneficiary}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2 d-flex">
              <p class="font-weight-bold">Created Date:&nbsp;</p>
              <p class="text_accion_stone">{{element.createdAt | date}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2 d-flex">
              <p class="font-weight-bold">Updated Date:&nbsp;</p>
              <p class="text_accion_stone">{{element.updatedAt | date}}</p>
            </div>
            <div class="col-6 col-md-2 mx-2 d-flex">
              <p class="font-weight-bold">Status:&nbsp;</p>
              <p class="text_accion_stone">{{element.isCredit ? 'Credit' : 'Debit'}}</p>
            </div>
           </div>
      </div>
    </td>
  </ng-container> -->

  <tr  mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="transaction-row cursor_pointer border_bottom"
      [class.transaction-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data
    </td>
  </tr>
  <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="transaction-detail-row"></tr> -->
</table>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <mat-spinner *ngIf="isLoadingResults" [diameter]="20"></mat-spinner>
        <mat-paginator 
        [pageSizeOptions]="[10, 25, 50, 100, 1000]" 
        [pageIndex]="0"
        [length] = "maxall"
        (page)="onPageFired($event)"
        showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</section>