// .btn-color {
//     background-color: #006891;
//     border-color: #006891;
//   }

//   div {
//     display: flex;
//     justify-content: space-between;  
// }

// .mat-dialog-actions {
//   justify-content: flex-end;
// }

th {
    font-weight: 500;
    color: #635b4c;
    text-transform: capitalize;
    text-align: center;

}

.text_start{
    text-align: start !important;
}



td {
    text-align: center;
}

h3 {
    font-weight: 500;
}

.font-weight-500 {
    font-weight: 500;
    font-size: 15px;
}