#otp {
    min-height: 100vh;
    form {
        min-width: 25vw;
    }
}

.header {
    color:  #006891;
    font-weight: 800;
} 

.logo_container {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#logo {
    width: 60%; 
    margin-bottom: 50px;
}