<div *ngIf="isLoadingResults" class="loader_container">
  <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div>

<section >
  <div class="header mt-3 bg-white">
    <p class="p-3 px-4 lead">Payment</p>
</div>
 
  <div class="action mx-3">
    <mat-card class="px-3 py-3 mx-3">
      <h5 class="font-weight-bold">Action</h5>
      <div class="d-flex flex-wrap">
        <button (click)="exportTable('pdf')" type="button" class="btn btn-sm text-white accion_stone my-1">Export
          PDF</button>
        <button (click)="exportTable('xlsx')" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">Export
          Excel</button>
        <button (click)="exportTable('csv')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Export
          CSV</button>
        <button (click)="exportTable('png')" type="button"
          class="btn btn-sm mx-2 text-white accion_sand my-1">PNG</button>
      </div>
    </mat-card>
    
  </div>

  <div class="table_display mx-3">

    <div class=" mat-elevation-z8">      
      <div id="feedback_table"  class="table-container p-0">
      <table 
      mat-table 
      [dataSource]="dataSource" 
      matSort 
      class="mat-elevation-z8">
      
        <ng-container matColumnDef="position">
          <th  mat-header-cell *matHeaderCellDef> S/N </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
      
        <ng-container matColumnDef="user">
          <th disableClear mat-header-cell *matHeaderCellDef> User  </th>
          <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>
    
    
        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef> Doctor </th>
          <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
        </ng-container>
    
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount | number}} </td>
        </ng-container>
    
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef> Service </th>
          <td mat-cell *matCellDef="let element"> {{element.service}} </td>
        </ng-container>
    
        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef> Reference </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentId ? element.paymentId.transactionRef.reference : 'N/A' }} </td>
        </ng-container>
    
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef> Message </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentId ? element.paymentId.transactionRef.message : 'N/A' }} </td>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentId ? element.paymentId.status : 'N/A' }} </td>
        </ng-container>
       
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date :'fullDate'}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4"> No data</td>
        </tr>
      </table>
    </div>
   <div class="d-flex justify-content-end align-items-center">
    <mat-paginator 
    [pageSizeOptions]="[10, 25, 50, maxall]"  
    [length] = "maxall"
    (page)="onPageFired($event)"
    showFirstLastButtons
    ></mat-paginator>  
   </div>
    </div>
  </div>
</section>