<div *ngIf="isLoadingResults" class="loader_container">
  <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
</div>

<section>
  <div class="header mt-3 bg-white d-flex justify-content-between align-items-center pr-3">
    <p class="pt-3 px-4 lead">Branches</p>
    <button (click)="openDialog()" class="btn btn-sm text-white filter_btn">Add Branch</button>
</div>

  <form class="filter mx-3" [formGroup]="searchFilterForm">
    <mat-card class="m-3 p-0 pt-3 px-3 pb-2">
      <h5 class="font-weight-bold">Filter/Sort by</h5>
      <div class="d-flex flex-wrap">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input formControlName="startDate" matInput [max]="maxDate" [matDatepicker]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>End date</mat-label>
          <input formControlName="endDate" matInput [max]="maxDate" [matDatepicker]="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let item of allStates" [value]="item.alias">
              {{item.state}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Branch Code</mat-label>
          <input 
          [value]="this.searchFilterForm.value.branchCode"
          formControlName="branchCode" 
          matInput type="text" >
          <button mat-button 
          *ngIf="this.searchFilterForm.value.branchCode"
          matSuffix mat-icon-button aria-label="Clear" 
          (click)="this.searchFilterForm.value.branchCode=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Branch Name</mat-label>
          <input 
          [value]="this.searchFilterForm.value.branchName"
          formControlName="branchName" 
          matInput type="text" >
          <button mat-button 
          *ngIf="this.searchFilterForm.value.branchName"
          matSuffix mat-icon-button aria-label="Clear" 
          (click)="this.searchFilterForm.value.branchName=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <button (click)="search()" class="btn btn-sm text-white filter_btn">Filter</button>
      </div>

    </mat-card>

  </form>
  <div class="action mx-3">
    <mat-card class="px-3 py-3 mx-3">
      <h5 class="font-weight-bold">Action</h5>
      <div class="d-flex flex-wrap">
        <button (click)="exportTable('pdf')" type="button" class="btn btn-sm text-white accion_stone my-1">Export
          PDF</button>
        <button (click)="exportTable('xlsx')" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">Export
          Excel</button>
        <button (click)="exportTable('csv')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Export
          CSV</button>
        <button (click)="exportTable('png')" type="button"
          class="btn btn-sm mx-2 text-white accion_sand my-1">PNG</button>
      </div>
    </mat-card>


  </div>

  <div class="table_display mx-3">

    <div class=" mat-elevation-z8">
      <div id="branches_table" class="table-container p-0">
        <table 
        mat-table 
        [dataSource]="dataSource"        
        class="mat-elevation-z8">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> S/N </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="branchName">
            <th  mat-header-cell *matHeaderCellDef> Branch Name </th>
            <td mat-cell *matCellDef="let element"> {{element.branchName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="branchAddress">
            <th  mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.branchAddress}} </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th  mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>

          <ng-container matColumnDef="longitude">
            <th  mat-header-cell *matHeaderCellDef> Longitude </th>
            <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
          </ng-container>

          <ng-container matColumnDef="latitude">
            <th  mat-header-cell *matHeaderCellDef> Latitude </th>
            <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
          </ng-container>

          <ng-container matColumnDef="branchCode">
            <th mat-header-cell *matHeaderCellDef> Branch Code </th>
            <td mat-cell *matCellDef="let element"> {{element.branchCode }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
             No data</td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <mat-paginator 
        [pageSizeOptions]="[10, 25, 50, 1000]" 
        [length]="maxall" 
        (page)="onPageFired($event)"
        showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</section>