<div *ngIf="isLoadingResults" class="loader_container">
  <div class="spinner">
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
    <div class="spinner-item"></div>
  </div>
</div>

<section>
  <div class="header mt-3 bg-white">
    <p class="p-3 px-4 lead">Customer Management</p>
  </div>

  <div class="action mx-3">
    <mat-card class="px-3 py-3 mx-3">
      <h5 class="font-weight-bold">Action</h5>
      <div class="d-flex flex-wrap">
        <button (click)="exportTable('pdf')" type="button" class="btn btn-sm text-white accion_stone my-1">Export
          PDF</button>
        <button (click)="exportTable('xlsx')" type="button" class="btn btn-sm mx-2 text-white accion_sand my-1">Export
          Excel</button>
        <button (click)="exportTable('csv')" type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Export
          CSV</button>
        <button (click)="exportTable('png')" type="button"
          class="btn btn-sm mx-2 text-white accion_sand my-1">PNG</button>
        <!-- <button type="button" class="btn btn-sm mx-2 text-white accion_stone my-1">Print</button> -->
      </div>
    </mat-card>


  </div>

  <div class="table_display mx-3">

    <div class=" mat-elevation-z8">
      <div id="userlist_table" class="table-container p-0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> S/N </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="fullName">
            <th disableClear mat-header-cell *matHeaderCellDef> Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          </ng-container>

          <ng-container matColumnDef="mobileNumber">
            <th mat-header-cell *matHeaderCellDef> Mobile number </th>
            <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.isConfirmed ? 'Confirmed' : 'Not Confirmed'}} </td>
          </ng-container>

          <ng-container matColumnDef="otp">
            <th mat-header-cell *matHeaderCellDef> OTP </th>
            <td mat-cell *matCellDef="let element"> {{element.otp}} </td>
          </ng-container>

          <ng-container matColumnDef="farmName">
            <th mat-header-cell *matHeaderCellDef> Farm Name </th>
            <td mat-cell *matCellDef="let element"> {{element.farmDetails ? element.farmDetails.name : "N/A" }} </td>
          </ng-container>

          <ng-container matColumnDef="farmAddress">
            <th mat-header-cell *matHeaderCellDef> Farm Address </th>
            <td mat-cell *matCellDef="let element"> {{element.farmDetails ? element.farmDetails.address : "N/A"}} </td>
          </ng-container>


          <ng-container matColumnDef="localGovernment">
            <th mat-header-cell *matHeaderCellDef> Local Government </th>
            <td mat-cell *matCellDef="let element"> {{element.farmDetails ? element.farmDetails.localGovernment :
              "N/A"}} </td>
          </ng-container>

          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.farmDetails ? element.farmDetails.state : "N/A"}} </td>
          </ng-container>


          <ng-container matColumnDef="callSubscription">
            <th mat-header-cell *matHeaderCellDef> Call Subscription </th>
            <td mat-cell *matCellDef="let element"> {{element.subscription && element.subscription.call   ? element.subscription.call.status + " (" + (element.subscription.call.date | date :'medium')   + ")" : "N/A"}} </td>
          </ng-container>

          <ng-container matColumnDef="chatSubscription">
            <th mat-header-cell *matHeaderCellDef> Chat Subscription </th>
            <td mat-cell *matCellDef="let element"> {{element.subscription && element.subscription.chat   ? element.subscription.chat.status + " (" + (element.subscription.chat.date | date :'medium' ) + ")" : "N/A"}} </td>
          </ng-container>

          <ng-container matColumnDef="farmService">
            <th mat-header-cell *matHeaderCellDef> Farm Service </th>
            <td mat-cell *matCellDef="let element"> {{element.subscription && element.subscription.farmService   ? element.subscription.farmService.status + " (" + ( element.subscription.farmService.date | date :'medium' ) + ")" : "N/A"}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdAt | date :'medium' }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor_pointer"
            [routerLink]="['details', row.mobileNumber]"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data
            </td>
          </tr>
        </table>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <mat-spinner *ngIf="isLoadingResults" [diameter]="20"></mat-spinner>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, maxall]" [length]="maxall" (page)="onPageFired($event)"
          showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</section>