.table-container {
    overflow: auto;
    width: 100%

  }

  .table_display {
    padding: 20px;
  }

  table {
    text-align: center;
    width: 100%;
    min-width: 900px;
    overflow-x: scroll;
  }

  th, td {
    text-align: center !important;
    text-transform: capitalize;
    padding: 10px !important;
    // overflow-wrap: break-word;
  }


  tr{
    text-align: center;
    }

  .mat-header-cell, .mat-sort-header {
    background-color: #216B36;
    color: white;
    // width: fit-content;
    // text-align: center;
  
  }

  ::ng-deep .mat-sort-header-arrow {
    transform: none !important;
    opacity: 1 !important;
    color: white !important;
}

.w-70 {
  min-width: 300px;
}
