.table-container {
  overflow: auto;
  width: 100%;
}

.table_display {
  padding: 20px;
}

table {
  text-align: center;
  width: 100%;
  min-width: 900px;
  overflow-x: scroll;
}

th, td {
  text-align: center !important;
  text-transform: capitalize;
  padding: 10px !important;
}


tr{
  text-align: center;
  }

.mat-header-cell, .mat-sort-header {
  background-color: #216B36;
  color: white;
  width: fit-content;
  text-align: center;
}

.w-70 {
min-width: 300px;
}
