<div 
id="side_menu"
class="sidenav_container" 
(mouseenter)="onSinenavToggle('hover')" 
(mouseleave)="onSinenavToggle('hover')" 
[@onSideNavChange]="sideNavState ? 'open' : 'close'" >
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">

    <div class="user_menu">
      <mat-nav-list>
        <div 
        fxLayout="row" 
        fxLayoutAlign="end center"

        style="padding: 0px 10px;display: flex;justify-content: flex-start;">
        <button mat-icon-button  (click)="onSinenavToggle('menu')">
          <mat-icon>menu</mat-icon>
        </button>
          <img 
          class="mb-2"
          style="width: 30%;margin-left: 40px;"
          [@animateText]="linkText && sideNavState !== false ? 'show' : 'hide'" src="../../../assets/img/logo.png" alt="">
         
        </div>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>

    <div style="padding-bottom: 30px;">
      <mat-nav-list *ngFor="let page of pages" >
        <a  [routerLink]="page.link" mat-list-item>
          <mat-icon>{{page.icon}}</mat-icon>
          <span [@animateText]="linkText && sideNavState !== false ? 'show' : 'hide'"> &nbsp;
            {{page.name}}
          </span>
        </a>
      </mat-nav-list>
            <a [routerLink]="page.link" mat-list-item *ngFor="let page of nestedPages">
              <mat-icon [@animateText]="linkText ? 'hide' : 'show'" style="padding:20px;">{{page.icon}}</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'">
                <mat-accordion class="mat-elevation-z0">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title
                      style="display: flex;align-items: center;"
                      >
                        <mat-icon style="padding-right:5px;">{{page.icon}}</mat-icon>
                        &nbsp; 
                        {{page.title}}
                      </mat-panel-title>
                    </mat-expansion-panel-header >
                    <div style="margin-bottom: 10px; margin-left: 15px; display: flex;align-items: center;" *ngFor="let item of page.list" >
                      <mat-icon>{{item.icon}}</mat-icon>  &nbsp; 

                      <a *ngIf="item.link" style="padding-right:5px;color: #000;"  [routerLink]="item.link">{{item.name}}</a>
                      <a *ngIf="item.method" (click)="openAppVersionModal()" style="padding-right:5px;color: #000;">{{item.name}}</a>
                    </div>

                  </mat-expansion-panel>
                </mat-accordion>
              </span>
            </a>
    </div>
  </div>  
</div>