.dashboardTab {
  min-height: 135px;
}

.headingText {
  font-size: 1.3em;
}
.headingCount {
  color: #222f7b;
  font-size: 2em;
  margin-top: 15px;
}
.headingSubTitle {
  color: #2e696f;
  font-size: 1em;
  margin-top: 5px;
}
.headingTitle {
  color: #313a46;
  font-size: 1.2rem;
}
.smallerTitle {
  color: #6c3d84;
  font-size: 1rem;
}

.icon_container {
  border: 1px solid;
  border-radius: 46px;
  padding: 9px;
  width: 50px;
  height: 50px;
}

.mat-icon {
  font-size: 30px;
}

.fetch_btn {
  max-height: 30px;
}

.date_input {
  max-width: 100px;
}

.volume_text {
  font-size: 1.3em;
  color: #222f7b;
}

.failed {
  color: #f96a74;
  font-size: 1.4em;
}
.success {
  color: #32c861;
  font-size: 1.4em;
}
.pending {
  color: #dac20f;
  font-size: 1.4em;
}

.daily_icon {
  font-size: 1.8em;
}

.agent_name {
    color: #368024;
    font-size: 1.3em;
}