<div id="login" class="d-flex justify-content-center align-items-center">
  <form [formGroup]="loginForm">
    <div class="logo_container">
      <img 
      id="logo"
      src="../../../../assets/img/logo.png" 
      alt="anicure">
    </div>
      <div class="d-flex flex-column">
        <mat-form-field appearance="legacy">
          <mat-label>Enter your mobile number</mat-label>
          <input matInput placeholder="080xxxxxxxx" formControlName="mobileNumber" required>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Enter your password</mat-label>
          <input
           matInput [type]="hide ? 'password' : 'text' " formControlName="password" autocomplete="on" required>
          <button mat-icon-button matSuffix (mouseup)="hide = !hide" (mousedown)="hide = !hide"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
       
      </div>
    <div class="d-flex flex-column flex-md-row flex-lg-row justify-content-between align-items-center mt-3">
      <mat-slide-toggle color="primary" class="mt-2">Remember me</mat-slide-toggle>
      <!-- <a  [routerLink]="['/auth','password']" class="mt-2" >Forgot your password?</a> -->
    </div>
    <div  class="d-flex justify-content-center container-login100-form-btn">
      <button 
       value="Submit" 
       (click)="login()"
        class="btn text-white px-4 py-1 btn-sm my-4 accion_sand" 
       >Login</button>
    </div>

  </form>
  <div *ngIf="loading" class="loader_container">
    <div class="spinner">
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
		<div class="spinner-item"></div>
	</div>
  </div>

</div>