<div id="dashboard_page">
  <div class="header mt-3 bg-white d-flex justify-content-between">
    <p class="p-3 lead">Dashboard</p>
   
  </div>
  <div id="dashboard" class="mt-3 ml-5">
    <div class="row mr-2">
      <div class="dashboardTab col-xs-12 col-sm-6 col-md-5 col-lg-3 pl-0 mb-2" *ngFor="let key of Object.keys(dashboardTabs)">
        <div class="bg-white d-flex flex-row">
          <div
          class="icon_container accion">
           <div>
            <mat-icon>{{dashboardTabs[key].icon}}</mat-icon>
           </div>
          </div>
          <div class="text_container">
            <h3 class="font-weight-bolder p-0 m-0 text_accion_stone"> {{dashboardTabs[key].title}}</h3>
            <p class="text_accion p-0 m-0"> {{ dashboardTabs[key].title.includes('Value') || dashboardTabs[key].title.includes('Wallet') || dashboardTabs[key].title.includes('Revenue') ? '₦' + (dashboardTabs[key].volume | number) :  (dashboardTabs[key].volume | number)}}</p>
            <div>
              <small *ngFor="let item of dashboardTabs[key].breakdown" class="text_accion"> {{item.title}}  {{ dashboardTabs[key].title.includes('Value') ? '₦' +(item.count | number) : (item.count | number)}} </small>
            </div>
            <div *ngIf="dashboardTabs[key].accountTiers">
              <p *ngFor="let item of dashboardTabs[key].accountTiers" class="text_accion p-0 m-0"> {{item.title}} - {{item.count}} </p>
            </div>
            <a *ngIf="dashboardTabs[key].link" [routerLink]="dashboardTabs[key].link"> 
              {{
                dashboardTabs[key].title.includes('Wallet') ? '': 'View'
              }}
            </a>
          </div>
        </div>
      </div>
    </div>

    
  </div>