/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-spacer {
  flex: 1 1 auto;
  
}
.mat-toolbar {
  max-height: 40px;
  padding-top: 15px !important;

  p {
    color: rgb(141, 137, 137);
    font-size: medium;
    font-weight: 200;
  }

  button {
    margin-bottom: 12px;
  }

}

.mat-sort-header-container {
  justify-content: center;
}

.paginate mat-option:last-child:before{
  content: 'All';
  float: left;
  text-transform: none;
  top: 4px;
  position: relative;
}
.paginate mat-option:last-child .mat-option-text{
display: none;
position: relative;
}


::ng-deep .mat-sort-header-arrow {
  transform: none !important;
  opacity: 1 !important;
  color: white !important;
}

.accion, .accion:hover {
  background-color: #216B36;
  border-color: #216B36;
}
.accion_stone, .accion_stone:hover {
  background-color: #216B36;
  border-color: #216B36;
}

.accion_sand, .accion_sand:hover {
  background-color: #216B36;
  border-color: #216B36;
}
.text_accion_sand {
  color: #216B36;
}
.text_accion_stone {
  color: #216B36;
}
.text_accion {
  color: #216B36;
}

.filter_btn, .filter_btn:hover, .filter_btn:focus {
  max-height: 34px;
        font-size: 13px;
        min-width: 70px;
        border: 0;
        background-color: #216B36;
        margin-top: 7px;
}

.filter .mat-form-field {
  max-width: 200px;
  width: 150px;
  margin-right: 10px;
  font-size: 11.5px;
}

:root {
  --size: 75px;
  --clr-bg: #272324;
  --clr1: #bbbb88;
  --clr2: #ccc68d;
  --clr3: #eedd99;
  --clr4: #eec290;
  --clr5: #eeaa88;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.loader_container {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #150000;
  opacity: 0.4;

  @media (min-width: 600px) {
    .container {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, auto);
    }
  }
  .spinner {
    --animation-duration: 650ms;
    position: relative;
    width: var(--size);
    height: var(--size);
  
    .spinner-item {
      position: absolute;
      width: var(--item-size);
      height: var(--item-size);
      top: calc(50% - var(--item-size) / 2);
      left: calc(50% - var(--item-size) / 2);
      border: 4px solid transparent;
      border-left: 4px solid var(--clr-spinner);
      border-right: 4px solid var(--clr-spinner);
      border-radius: 50%;
      animation: spinner2 var(--animation-duration) linear infinite;
  
      @keyframes spinner2 {
        to {
          transform: rotate(360deg);
        }
      }
    }
  
    .spinner-item:nth-of-type(1) {
      --item-size: var(--size);
      --clr-spinner: var(--clr1);
      border-top: 4px solid var(--clr1);
    }
  
    .spinner-item:nth-of-type(2) {
      --item-size: calc(var(--size) - 15px);
      --clr-spinner: var(--clr5);
      border-bottom: 4px solid var(--clr5);
    }
  
    .spinner-item:nth-of-type(3) {
      --item-size: calc(var(--size) - 30px);
      --clr-spinner: var(--clr3);
      border-top: 4px solid var(--clr3);
    }
  }
  
  
}


.mat-drawer-inner-container {
overflow: hidden;
}



.mat-sidenav {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
::-webkit-scrollbar-thumb {
  background: #216B36; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #216B36; 
}

}

#dashboard_page {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

.main_content {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
}

.breadcrumb-item+.breadcrumb-item::before {
  content: ">" !important;
}

.cursor_pointer {
  cursor: pointer !important;
}

//  .mat-form-field-outline:focus, .mat-form-field-outline:active {
//   outline: none !important;
//   box-shadow: none !important;
// }

// ::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
//   display: none;
// }

// body {
//   * {
//     &:focus, &.focus,
//     &:active, &.active {
//       outline: transparent none 0 !important;
//       box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
//       -webkit-box-shadow: none !important;
//     }
//   }
// }