.action button {
    max-height: 40px;
    margin-right: 5px;
}

input {
    max-width: 250px;
}

form .form-control:focus, .btn:focus{
    border-color: #ced4da;
    box-shadow: none;
  }